/* Box Model */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

/*Group 1*/
.inner-wrapper {
   width: 100%;
   height: 100%;
}

#container {
   column-width: 700px;
   border-left: 120px solid #606161;
   border-right: 120px solid #606161;
   background-color: #f0efef;
}

header {
	 background-color: #033048;
	 overflow: hidden;
	 padding: 20px;
}

body {
	background-color: #f0efef;
}

.relaxr {
   font-weight: 600;
   font-family: 'Open Sans', sans-serif;
   font-size: 36px;
   color: white;
   width: 20%;
   float: left;
   text-decoration: none;
}

.nav-container {
	width: 70%;
	float: right;
	color: #f9e42e;
	height: 10px;

}

.main-section {
	width: 68%;
	float: left;
}

.li1 {
	float: right;
	padding-left: 50px;
	padding-right: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 5px 0;
	display: inline;
}

.google1 {
	float: right;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding-bottom: 30px;
	padding-top: 20px;
}


/*Aside*/

#aside {
	width: 32%;
	float: right;
}

.categories {
	display: block;
	color: #033048;
	width: auto;
    padding-bottom: 20px;
    padding-top: 50px;
    padding-right: 100px;
}

.li2 {
	list-style-type: none;
	font-size: 24px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	display: block;
}

h3 {
    font-size: 32px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    color: #033048;
    padding-bottom: 10px;
} 

.a-relaxr {
	color: #033048;
	width: 20%;
    padding-bottom: 20px;
    margin: 20px;
}

.ab-relaxr {
    font-size: 22px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

h4 {
	font-size: 22px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
}

#ad {
	display: block;
	width: auto;
}

/*Group 2*/
#hello {
	font-size: 40px;
}

h2 {
	font-size: 40px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 10px;
	color: #033048;
}

.heading1 {
	padding-top: 60px;
}

.heading2 {
	padding-top: 20px;
}

.p1 {
	font-size: 24px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 40px;
	color: #033048;

}

.p2 {
	font-size: 24px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 40px;
    color: #033048;
}

.google2 {
	float: right;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding-bottom: 30px;
	padding-top: 20px;
}

hr {
	clear: both;
}

#hello2 {
	font-size: 40px;
}



a.google1:visited {
	color: purple;
}

a.google2:visited {
	color: purple;
}

.clearfix::after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	padding-bottom: 80px;
}

#everythingbut {
	padding-right: 20px;
	padding-left: 20px;
	background color: #f0efef;
}

/*Group 3*/
#section3 {
	background-color: #f9e42e;
	clear: left;
	padding-top: 10px;
	padding-bottom: 10px;

}

.sign {
	font-size: 24px;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	color: white;
	background-color: #033048;
	width: 20%;
	height: 40px;
	text-align: center;
	margin: 30px auto 30px;
	padding-top: 5px;
}




/*Footer*/
footer {
	clear: both;
	background-color: #121212;
	padding-bottom: 20px;
	padding-top: 50px;
	text-align: center;
	text-decoration: none;
}

.feet {
   font-weight: 600;
   font-family: 'Open Sans', sans-serif;
   font-size: 36px;
   color: #f9e42e;
   padding-bottom: 40px;
}


.twitter {
	padding-bottom: 50px;
	padding-top: 20px;
	padding-right: 40px;
	list-style-type: none;
}

.facebook {
	padding-bottom: 50px;
	padding-top: 20px;
	list-style-type: none;
}


.copy {
	font-size: 18px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color: white;
	padding-top: 40px;
	list-style-type: none;	
}

#ad {
	width: 80%;
}





